<div class="container mt-3">
  <h1 class="p-0 m-0 font-weight-bold">
    {{ "watchLater.title" | translate }}
  </h1>

  <div *ngIf="loading" class="loader">
    <h1>Loading...</h1>
  </div>

  <div *ngIf="movies" class="movies">
    <div *ngFor="let movie of movies">
      <movie-card
        [id]="movie.id"
        [genres]="movie.genres"
        [coverImg]="movie.poster_path"
        [title]="movie.title"
        [year]="movie.budget"
        [summary]="movie.overview"
        (click)="viewDetails(movie.id)"
      ></movie-card>
    </div>
  </div>
</div>
