<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">MovieApp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse d-flex flex-row justify-content-between"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies">Movies </a>
      </li>

      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>

    <div class="user_container_actions navbar-nav mr-auto" *ngIf="!user">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register </a>
      </li>
    </div>
    <div class="user_container_actions navbar-nav mr-auto" *ngIf="user">
      <li class="nav-item">
        <a class="nav-link"
          >{{ userFromApi.firstName }} {{ userFromApi.lastName }}</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="logout()">Logout </a>
      </li>
    </div>

    <!-- <form class="form-inline my-2 my-lg-0 d-flex flex-row">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
  </div>
</nav>
