<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">{{ "main.header.title" | translate }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse d-flex flex-row justify-content-between"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"
          >{{ "main.nav.home" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies"
          >{{ "main.nav.movie" | translate }}
        </a>
      </li>

      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" href="/admin">Admin</a>
      </li>

      <li class="nav-item" *ngIf="user">
        <a class="nav-link" href="/favorites">Favorites</a>
      </li>

      <li class="nav-item" *ngIf="user">
        <a class="nav-link" href="/watch-later">Watch Later</a>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ngbDropdownToggle
        >
          Language
        </a>

        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
          ngbDropdownMenu
        >
          <a class="dropdown-item" (click)="changeLanguage('en', $event)"
            >English</a
          >
          <a class="dropdown-item" (click)="changeLanguage('fr', $event)"
            >French</a
          >
        </div>
      </li>
    </ul>

    <div class="user_container_actions navbar-nav mr-auto" *ngIf="!user">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"
          >{{ "main.nav.login" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register"
          >{{ "main.nav.register" | translate }}
        </a>
      </li>
    </div>
    <div class="user_container_actions navbar-nav mr-auto" *ngIf="userFromApi">
      <button
        mat-flat-button
        color="accent"
        class="mr-5"
        *ngIf="!isPrime && !isAdmin"
        (click)="upgradePrime()"
      >
        <mat-icon>favorite</mat-icon>
        Upgrade to Prime
      </button>
      <button mat-flat-button color="primary" class="mr-2" *ngIf="isPrime">
        <mat-icon>favorite</mat-icon>
        Prime Member
      </button>

      <li class="nav-item">
        <a class="nav-link"
          >{{ userFromApi.firstName }} {{ userFromApi.lastName }}</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="logout()">Logout </a>
      </li>
    </div>
  </div>
</nav>
