<form
  [formGroup]="searchForm"
  (ngSubmit)="onSearch()"
  class="d-flex flex-row gap-3"
>
  <div class="form-group">
    <input
      type="search"
      placeholder="Search"
      aria-label="Search"
      formControlName="search"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f?.['search']?.errors }"
    />
    <div *ngIf="submitted && f?.['search']?.errors" class="invalid-feedback">
      <div *ngIf="f?.['search']?.errors?.['required']">Search is required</div>
    </div>
  </div>

  <button mat-raised-button color="primary" class="my-2 my-sm-0" type="submit">
    Search
  </button>
</form>
